<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary p-2 mb-2">
    <h1 class="text-light">
      Mandáty <small>odhad mandátů různých variant koalic ke konci září 2020</small>
    </h1>
  </nav>
</template>
