<template>
  <div class="alert alert-primary" role="alert">
    <p>
      Výpočet zisku mandátů: Jako základ je brán volební model Mandáty.cz (složený z modelů CVVM, Median, Kantar/ČT, STEM). Přepočet na mandáty je po krajích s tím, že je zjednodušeně uvažováno stejné rozdělení voličů každé strany mezi kraji jako v volbách 2017, stejně jako počet mandátů v kraji.
    </p>
    <p>
      U hypotetických koalic (variant) je nyní zjednodušeně uvažováno, že získají součet zisku koaličních stran.
    </p>
    <p>
      Data v tabulce jsou zde: <a href="https://docs.google.com/spreadsheets/d/1N0PBsT_8iSvJo3CrSuCJnqwHTvCXVurP2PEup_fJOoI/edit#gid=0" target="_blank">Google sheet</a>
    </p>
  </div>
</template>
