<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-1 variant-name">
          <span v-if="variant.name">{{ variant.variant_code }}: {{ variant.name }}</span>
          <span v-if="!variant.name">0: Nulová varianta</span>
        </div>
        <div v-for="(party, i) in seats" :key="i" class="">
          <div class="block" :style="{ color: party.color}">
            <div class="text-center">
              <span class="number">{{ party.median }}</span>
            </div>
            <div class="text-center lo-hi">
              <strong>{{ party.lo }} - {{ party.hi }}</strong>
            </div>
            <!-- <div class="difference">
              <span v-if="party.difference > 0">
                <span class="text-success">▲ {{ party.difference }}</span>
              </span>
              <span v-else-if="party.difference < 0">
                <span class="text-danger">▼{{ party.difference | abs }}</span>
              </span>
              <span v-else>
                <span class="text-muted">⚫ 0</span>
              </span>
            </div> -->
            <div class="name">
              <h4 :style="{ color: party.color}">
                {{ party.name }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</template>

<script>

export default {
  filters: {
    abs (value) {
      return Math.abs(value)
    }
  },
  props: {
    currentSeats: {
      type: Object,
      default () {
        return { }
      }
    },
    ticks: {
      type: Number,
      default: 0
    },
    variant: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  computed: {
    seats () {
      return this.currentSeats.data
    }
  }
}

</script>

<style scoped>
  h4 {
    padding-left: 2px;
    margin-bottom: 0px;
    font-size: 1em;
  }
  .small-badge {
    font-size: 0.33em;
    position: relative;
    bottom: 1em;
  }
  .number {
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: #000;
    font-size: 2em;
  }
  .block {
    border-style: solid;
    border-width: 3px;
    width: 5em;
    height: 5em;
    border-radius: 4px;
    margin: 4px;
    position: relative;
    min-width: 80px;
  }
  .difference {
    position: absolute;
    top: 1.5em;
    left: 3.5em;
  }
  .lo-hi {
    font-size: calc(1.75em / 2);
  }
  .name {
    font-size: 0.65em;
  }
  .variant-name {
    min-width: 100px;
  }
</style>
