<template>
  <div class="container-fluid">
    <Header />
    <h2>Celá ČR</h2>
    <div v-for="variant in variants" :key="variant.variant_code">
      <Seats :current-seats="currentSeats[variant.variant_code]" :ticks="ticks" :variant="variant" />
    </div>
    <Info />
    <div v-for="region in regions" :key="region.id">
      <h2>{{ region.name }}</h2>
      <div v-for="variant in variants" :key="variant.variant_code">
        <Seats :current-seats="regionalSeats[region.id][variant.variant_code]" :ticks="ticks" :variant="variant" />
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Seats from '../components/Seats.vue'
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
import Info from '../components/Info.vue'
import variants from '../assets/variants.json'
import regions from '../assets/regions.json'

export default {
  components: {
    Seats,
    Header,
    Footer,
    Info
  },
  data () {
    const regionalSeats = {}
    for (const r in regions) {
      regionalSeats[r] = {}
    }
    return {
      tick: 0,
      variants,
      regions,
      currentSeats: {},
      currentSeatsRegions: {},
      regionalSeats
    }
  },
  computed: {
    ticks () {
      return this.tick
    }
  },
  mounted () {
    const $this = this
    for (const variant of this.variants) {
      this.currentSeats[variant.variant_code] = require('@/assets/current_seats_' + variant.variant_code)
    }
    for (const variant of this.variants) {
      this.currentSeatsRegions[variant.variant_code] = require('@/assets/current_seats_regions_' + variant.variant_code)
    }
    // console.log(this.currentSeatsRegions)
    for (const region in this.regions) {
      // console.log(region)
      $this.regionalSeats[region] = {}
      for (const variant of $this.variants) {
        $this.regionalSeats[region][variant.variant_code] = { data: [] }
        // console.log('aaa', region, variant, $this.currentSeatsRegions[variant.variant_code])
        for (const party of $this.currentSeatsRegions[variant.variant_code].data[region]) {
          $this.regionalSeats[region][variant.variant_code].data.push(party)
        }
      }
    }
    this.tick++
  }
}
</script>

<style>
</style>
